*{
    margin: 0;
    padding: 0;
}
.cover{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(230, 239, 242, 0.816),rgba(232, 243, 244, 0.945)),url(images/newcover1.jpg);
    background-position: center;
    background-size: 100vh;
    position: relative;
}
.price{
    padding:50px ;
    color: solid black;
}
.container{
    margin-top: 50px;
    margin-bottom: 100px;
    position: relative;
}
.navbar{
    margin-bottom: 30px;
}
.w3-center{
    font-family: "Raleway",sans-serif;
}
.p-desc{
    height: 80px;
    

}