{% extends 'base.html' %}

{% block title %}Lensmart{% endblock title %}

{% block body %}
    <div class="cover">
        <!-- Navbar (sit on top) -->
        <div class="w3-top">
            <div class="w3-bar w3-black w3-card container-fluid" id="myNavbar">
                <a class="navbar-brand" href="/index">
                    <img src="/static/images/logo.png" alt="" width="90" height="50" class="d-inline-block align-text-top"></a>
                <!-- Right-sided navbar links -->
                <div class="w3-right w3-hide-small">
                    <a href="/index" class="w3-bar-item w3-button"><i class="fa fa-home"></i> HOME</a>
                    <a href="#about" class="w3-bar-item w3-button"><i class="fa fa-globe"></i> ABOUT</a>
                    <a href="#team" class="w3-bar-item w3-button"><i class="fa fa-children"></i> TEAM</a>
                    <a href="/products" class="w3-bar-item w3-button"><i class="fa fa-glasses"></i> EYEGLASSES</a>
                    <a href="#contact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACT</a>
                    
                    {% if user.is_authenticated %}
                    <div class="w3-dropdown-hover">
                        <button class="w3-button"><i class="fa fa-user"></i>&nbsp {{request.user|upper}}</button>
                        <div class="w3-dropdown-content w3-bar-block w3-card-4">
                            <a href="/cart" class="w3-bar-item w3-button">Cart (<span id="cart">0</span>)</a>
                            <a href="/logout" class="w3-bar-item w3-button">Logout</a>
                        </div>
                    </div>
                    {% else %}
                    <a href="/login" class="w3-bar-item w3-button"><i class="fa fa-user"></i> ACCOUNT</a>                    
                    {% endif %}
                    
                    
                </div>
                <!-- Hide right-floated links on small screens and replace them with a menu icon -->

                <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium"
                    onclick="w3_open()">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
        </div>

        <!-- Sidebar on small screens when clicking the menu icon -->
        <nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large"
            style="display:none" id="mySidebar">
            <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close
                ×</a>
            <h2 class="w3-bar-item w3-grey"> {{request.user|upper}} </h2>    
            <a href="/index" onclick="w3_close()" class="w3-bar-item w3-button">HOME</a>
            <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT</a>
            <a href="#team" onclick="w3_close()" class="w3-bar-item w3-button">TEAM</a>
            <a href="/products" onclick="w3_close()" class="w3-bar-item w3-button">EYEGLASSES</a>
            <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
            {% if user.is_authenticated %}
            <a href="/cart" onclick="w3_close()" class="w3-bar-item w3-button">CART (<span id="cart1">0</span>)</a>
            <a href="/logout" onclick="w3_close()" class="w3-bar-item w3-button">LOGOUT</a>
            {% else %}
            <a href="/login" onclick="w3_close()" class="w3-bar-item w3-button">ACCOUNT</a>
            {% endif %}
        </nav>
        <br><br><br>

        <!-- for messages -->
        {% if messages %}
        {% for message in messages %}
        <div class=" alert alert-{{ message.tags }} alert-dismissible fade show mb-0" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        {% endfor %}
        {% endif %}

        <p style="text-align: justify;">
            <a title="Buy Independence Day Eyeglasses " href="#products"><img
                    title="Buy Stylish Independence Day Glasses at Eyeglasses PK" src="/static/images/web.JPG"
                    alt="Buy Stylish Independence Day Glasses at Eyeglasses PK">
            </a>
        </p>
        <!-- Eyeglasses Section -->
        <div class="w3-container" style="padding:90px 16px" id="products">
            <h3 class="w3-center w3-large"><b>EYEGLASSES CATEGORIES</b></h3>
            <br>
            <p class="w3-center w3-large"><b>WE CARE ABOUT YOUR CHOICE</b></p>

            <div class="w3-row-padding" style="margin-top:64px">
                <div class="w3-col l3 m6 pt-2 pb-2">
                    <a href="/products#men-glasses">
                        <img src="/static/images/men.png" style="width:100%" class="w3-hover-opacity" alt="men glasses">
                    </a>
                </div>
                <div class="w3-col l3 m6 pt-2 pb-2">
                    <a href="/products#women-glasses">
                        <img src="/static/images/women.png" style="width:100%" class="w3-hover-opacity" alt="women glasses">
                    </a>
                </div>
                <div class="w3-col l3 m6 pt-2 pb-2">
                    <a href="/products#kid-glasses">
                        <img src="/static/images/kids.png" style="width:100%" class="w3-hover-opacity" alt="kids glasses">
                    </a>
                </div>
                <div class="w3-col l3 m6 pt-2 pb-2">
                    <a href="/products#sun-glasses">
                        <img src="/static/images/sunglasses.png" style="width:100%" class="w3-hover-opacity" alt="Sunglasses">
                    </a>
                </div>
            </div>
        </div>        
        <!-- About Section -->
        <div class="w3-container" style="padding:90px 14px 90px 14px" id="about">
            <h3 class="w3-center w3-large"><b>ABOUT THE COMPANY</b></h3>
            <br>
            <br>
            <p class="w3-center w3-large"><b>Key features of our company</b></p>
            <div class="w3-row-padding w3-center" style="margin-top:64px">
                <div class="w3-quarter">
                    <i class="fa fa-desktop w3-margin-bottom w3-jumbo"></i>
                    <p class="w3-large">Responsive</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore.</p>
                </div>
                <div class="w3-quarter">
                    <i class="fa fa-eye w3-margin-bottom w3-jumbo"></i>
                    <p class="w3-large">Safety</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore.</p>
                </div>
                <div class="w3-quarter">
                    <i class="fa fa-diamond w3-margin-bottom w3-jumbo"></i>
                    <p class="w3-large">Design</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore.</p>
                </div>
                <div class="w3-quarter">
                    <i class="fa fa-hourglass w3-margin-bottom w3-jumbo"></i>
                    <p class="w3-large">Punctual</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore.</p>
                </div>
            </div>
        </div>
        <!-- Team Section -->
        <div class="w3-container" style="padding:90px 14px 90px 14px" id="team">
            <h3 class="w3-center w3-large"><b>THE TEAM</b></h3>
            <br>
            <p class="w3-center w3-large"><b>The ones who runs this company</b></p>
            <div class="w3-row-padding w3-grayscale" style="margin-top:64px">
                <div class="w3-col l3 m6 w3-margin-bottom">
                    <div class="w3-card">
                        <img src="https://www.w3schools.com/w3images/team2.jpg" alt="Usman" style="width:100%">
                        <div class="w3-container">
                            <br>
                            <h3><b>Usman Yousuf</b></h3>
                            <br>
                            <p class="w3-opacity">CEO & Founder</p>
                            <br>
                            <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque
                                elementum.</p>
                            <br>
                            <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-phone"></i>
                                    +92304356783</button></p>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="w3-col l3 m6 w3-margin-bottom">
                    <div class="w3-card">
                        <img src="https://www.w3schools.com/w3images/team3.jpg" alt="Yasoob" style="width:100%">
                        <div class="w3-container">
                            <br>
                            <h3><b>Yasoob Raza</b></h3>
                            <br>
                            <p class="w3-opacity">Manager</p>
                            <br>
                            <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque
                                elementum.</p>
                            <br>
                            <p class="w3-button w3-light-grey w3-block"><i class="fa fa-phone"></i>+92333469876</p>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="w3-col l3 m6 w3-margin-bottom">
                    <div class="w3-card">
                        <img src="https://www.w3schools.com/w3images/team4.jpg" alt="Hassan" style="width:100%">
                        <div class="w3-container">
                            <br>
                            <h3><b>Hassan Mehdi</b></h3>
                            <br>
                            <p class="w3-opacity">Sales Manager</p>
                            <br>
                            <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque
                                elementum.</p>
                            <br>
                            <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-phone"></i>
                                    +92309876543</button></p>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="w3-col l3 m6 w3-margin-bottom">
                    <div class="w3-card">
                        <img src="https://www.w3schools.com/w3images/team1.jpg" alt="Jahanzaib" style="width:100%">
                        <div class="w3-container">
                            <br>
                            <h3><b>Jahanzaib</b></h3>
                            <br>
                            <p class="w3-opacity">Frame Designer</p>
                            <br>
                            <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque
                                elementum.</p>
                            <br>
                            <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-phone"></i>
                                    +92309763218</button></p>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
        <!-- contact Section -->
        <div class="w3-container w3-light-grey" style="padding:90px 14px 90px 14px" id="contact">
            <h3 class="w3-center w3-large"><b>CONTACT US</b></h3>
            <div style="margin-top:48px">
                <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i> Karachi, Pakistan</p><br>
                <p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> Phone: +92 33151515</p><br>
                <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> Email: lensmart@gmail.com</p>
                <br>
                <!-- Image of location/map -->
                <img src="/static/images/map.jpg" class="w3-image w3-greyscale" style="width:100%;margin-top:48px">
            </div>
        </div>

        
{% endblock body %}

